
    .container {
        border: black;


    }

    
    
    #main {
        float:left;
        background-color: blue;
        margin: 10px;
        padding: 10px 10px 10px 10px;
        

    }

    .text {
        font-size: x-large;
        margin: 10px;
        
        

    }

    


 

 
        

    
 
   
