    
    /*float picture left so text can go on right*/
    #main {
        float:left;
        background-color: blue;
        margin: 10px;
        padding: 10px 10px 10px 10px;
        

    }
    /*text appearance*/
    .text {
        font-size: x-large;
        margin: 10px;
        
        

    }


    


 

 
        

    
 
   
